<md-dialog flex="40" class="config-dialog">
  <ng-form name="deviceForm">
  <md-toolbar>
    <div class="md-toolbar-tools">
      <h2>{{dialog.device.name ? dialog.device.name : '&lt;Device name&gt;'}}</h2>
      <span flex></span>
      <md-button class="md-icon-button" ng-click="dialog.discard()" type="button">
        <md-icon>close</md-icon>
      </md-button>
    </div>
  </md-toolbar>
  <md-dialog-content>
    <md-tabs md-border-bottom>
      <md-tab label="Main"><ng-include src="'partials/device-config-main.html'"></ng-include></md-tab>
      <md-tab label="Status"><ng-include src="'partials/device-config-status.html'"></ng-include></md-tab>
      </md-tab>
    </md-tabs>
  </md-dialog-content>
  <div class="md-actions" layout="row">
    <md-button ng-click="dialog.discard()" type="button">
     Discard
    </md-button>
    <span flex></span>
    <md-button ng-click="dialog.delete()" ng-if="!dialog.isNew" ng-disabled="!dialog.canDelete()" type="button">
     Delete
    </md-button>
    <md-button ng-click="dialog.clone()" ng-if="!dialog.isNew" ng-disabled="deviceForm.$invalid" type="button">
     Clone
    </md-button>
    <span flex></span>
    <md-button ng-click="dialog.apply()" ng-disabled="deviceForm.$invalid">
      Apply
    </md-button>
  </div>
</ng-form>
</md-dialog>
