<ion-view view-title="App Version">
    <ion-content>
        <div class="list card">
            <div class="item item-divider">
                Here is your app version
            </div>
            <a href="#" class="item">
                {{versionNumber}}
            </a>
            <div class="item item-divider">
                Here is your app name
            </div>
            <a href="#" class="item">
                {{appName}}
            </a>
            <div class="item item-divider">
                Here is your app version code
            </div>
            <a href="#" class="item">
                {{versionCode}}
            </a>
            <div class="item item-divider">
                Here is your app package name
            </div>
            <a href="#" class="item">
                {{packageNumber}}
            </a>
        </div>
    </ion-content>
</ion-view>
