<ion-view view-title="Reload">
    <ion-content class="padding">
        <h3>This is not a plugin but a feature of the simulator.</h3>
        <h4>The simulator detects changes in your apps folders and reloads them accordingly.</h4>
        <h4>Try to change the following box background color in the file and save it</h4>
        <h4>%Install-Path%/cordova-simulator/demo/partials/reload.html</h4>
        <div style="width: 100%; height: 50px; background: blue;"></div>
    </ion-content>
</ion-view>
