<md-content>
  <ng-form name="statusForm" layout="column" layout-padding>
    <div layout="row">
      <div flex>
        <md-checkbox ng-model="dialog.device.status.wifi" flex>
          {{ dialog.device.status.wifi ? 'Turn WIFI off' : 'Turn WIFI on' }}
        </md-checkbox>
      </div>
      <div flex>
        <md-checkbox ng-model="dialog.device.status.isFlashlightOn" flex>
          {{ dialog.device.status.isFlashlightOn ? 'Turn flashlight off' : 'Turn flashlight on' }}
        </md-checkbox>
      </div>
    </div>
    <div layout="row">
      <div flex>
        <md-checkbox ng-model="dialog.device.status.battery.isCharging" flex>
          {{ dialog.device.status.battery.isCharging ? 'Remove charge' : 'Charge device' }}
        </md-checkbox>
      </div>
      <md-input-container flex>
        <label>Battery level</label>
        <input name="batteryLevel" ng-model="dialog.device.status.battery.level" required type="number" min="1" max="100">
        <div ng-messages="deviceForm.statusForm.batteryLevel.$error">
          <div ng-message="required">Required.</div>
          <div ng-message-exp="['min', 'max']">Battery level must be between 1 and 100.</div>
        </div>
      </md-input-container>
    </div>
    <div layout="row">
      <md-input-container flex>
        <label>Network</label>
        <md-select name="network" ng-model="dialog.device.status.network" required>
          <md-option ng-repeat="item in dialog.NETWORKS" value="{{item}}">
            {{item}}
          </md-option>
        </md-select>
        <div ng-messages="deviceForm.statusForm.network.$error">
          <div ng-message="required">Required.</div>
        </div>
      </md-input-container>
    </div>
  </ng-form>
</md-content>
