<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<widget id="com.ozsay.cordova-simulator-demo" version="0.8.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
  <name>demo</name>
  <description>
    The demo used in cordova simulator
  </description>
  <author email="ozsay@gmail.com" href="https://github.com/ozsay">
    Oz Sayag
  </author>
  <content src="index.html"/>
  <access origin="*"/>
  <preference name="webviewbounce" value="false"/>
  <preference name="UIWebViewBounce" value="false"/>
  <preference name="DisallowOverscroll" value="true"/>
  <preference name="BackupWebStorage" value="none"/>
  <preference name="Orientation" value="default" />
  <feature name="StatusBar">
    <param name="ios-package" value="CDVStatusBar" onload="true"/>
  </feature>
</widget>
